## Identify the email address and phone numbers

#### use https://regex101.com/  to test your regex patterns

In [1]:
import re

In [14]:
text ="jkjhds hgsdhghsd 1134455667 jjhdhshd hjgshdgds hinakoushar.Tatakoti1234@1342\
kjsdsu hsgedsgd Mollwitzsraa2 kuuewhw 9483755444 jsdjsj amir2426@yahoo.com \
akjdjhajdh jsabdbahsdb 384 jwehdgd 8732h jhshdsh agyag 12:03hrs\
(123)-567-8976 also my email address is hinakoushar.tatakoti@gmail.com \
, hina_tata1342@gmail.com "

In [15]:
pattern ="\d{10}|\(\d{3}\)-\d{3}-\d{4}|[a-zA-Z0-9_.-]*@[a-zA-Z0-9]*\.[a-zA-Z]*"

In [16]:
re.findall(pattern, text)

['1134455667',
 '9483755444',
 'amir2426@yahoo.com',
 '(123)-567-8976',
 'hinakoushar.tatakoti@gmail.com',
 'hina_tata1342@gmail.com']

## Check order number

In [17]:
order_chat = "(123)-567-8976  also my email address is hinakoushar.tatakoti@gmail.com \
, hina_tata1342@gmail.com  my order # is 123456789 and my order number is 7366437834884 and ORDER  192377377437"

In [19]:
regex = "(order|ORDER)[^\d]*(\d*)"

In [20]:
re.findall(regex, order_chat)

[('order', '123456789'), ('order', '7366437834884'), ('ORDER', '192377377437')]

## to check the age

In [23]:
text = " hello i'm elon musk my age is 50 and doing exceptional work!! in the feild of physics and AI"

In [24]:
pattern ="age[^\d]*(\d+)"

In [25]:
re.findall(pattern, text)

['50']

In [ ]:
## get personal data from wikipedia

In [27]:
text ='''
Born	Elon Reeve Musk
June 28, 1971 (age 51)
Pretoria, Transvaal, South Africa
Education	
University of Pennsylvania (BA, BS)
Title	
Founder, CEO, and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
President of Musk Foundation
Spouses	
Justine Wilson
​
​(m. 2000; div. 2008)​
Talulah Riley
​
​(m. 2010; div. 2012)​
​
​(m. 2013; div. 2016)​
Partner	Grimes (2018–2022)[1]
Children	10[a][3]
Parents	
Errol Musk (father)
Maye Musk (mother)
Relatives	
Tosca Musk (sister)
Kimbal Musk (brother)
Lyndon Rive (cousin)
Family	Musk family
Awards	List of honors and awards
'''

In [37]:
def get_pattern_match(pattern, text):
    match = re.findall(pattern, text)
    if match:
        return match[0]

In [40]:
def get_personal_data(text):
    name = get_pattern_match("Born.(.*)", text)
    age = get_pattern_match("age.(\d*)", text)
    date_birth = get_pattern_match("([a-zA-z0-9].*)\(age", text)
    place = get_pattern_match("age.*\n(.*)", text)
    data ={
      "name": name.strip(),
      "age" : int(age),
      "born": date_birth.strip(),
       "place": place.strip()
    }
    
    return data

In [42]:
get_personal_data(text)

{'name': 'Elon Reeve Musk',
 'age': 51,
 'born': 'June 28, 1971',
 'place': 'Pretoria, Transvaal, South Africa'}

## Excercise

 1. Extract all twitter handles from following text. Twitter handle is the text that appears after https://twitter.com/ and is a single word. Also it contains only alpha numeric characters i.e. A-Z a-z , o to 9 and underscore _

In [49]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''
pattern = 'https:\/\/twitter\.com\/([a-zA-Z0-9_]+)*' # todo: type your regex here

re.findall(pattern, text)

['elonmusk', 'teslarati', 'dummy_tesla', 'dummy_2_tesla']

2. Extract Concentration Risk Types. It will be a text that appears after "Concentration Risk:", In below example, your regex should extract these two strings

    (1) Credit Risk

    (2) Supply Rish

In [50]:
text = '''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''
pattern = ': ([a-zA-Z]* Risk)' # todo: type your regex here

re.findall(pattern, text)

['Credit Risk', 'Supply Risk']

3. Companies in europe reports their financial numbers of semi annual basis and you can have a document like this. To exatract quarterly and semin annual period you can use a regex as shown below

     Hint: you need to use (?:) here to match everything enclosed

In [48]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''

pattern = 'FY(\d{4} (?:Q[1-4]|S[1-2]))' # todo: type your regex here
matches = re.findall(pattern, text)
matches

['2021 Q1', '2021 S1']